/* Make the root element at least as big as the page. */
html,
body,
#root {
	height: 100%;
}
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/
#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

.search {
	margin: 0em 8em;
}

.book-list {
	margin: 0em 8em;
}

@import '~bootstrap/scss/bootstrap';
