/* Make the root element at least as big as the page. */
html,
body,
#root {
	height: 100%;
}
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/
#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

.margin {
	margin: 0em 8em;
}

.search {
	padding: 20px;
	display: grid;
	justify-content: center;
}

.book-list {
	margin: 0em 8em;
}

.book-image {
	max-height: 20rem;
	max-width: 15rem;
}

.card {
}

.book-box:hover {
	box-shadow: 3px 3px 5px 6px #ccc;
}

@import '~bootstrap/scss/bootstrap';
