/* Make the root element at least as big as the page. */
html,
body,
#root {
	height: 100%;
}
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/
#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

.margin {
	margin: 0em 8em;
}

.search {
	padding: 20px;
	display: grid;
	justify-content: center;
}

.book-list {
	margin: 0em 8em;
}

.book-image {
	max-height: 15rem;
	max-width: 10rem;
}

.book-box {
	background-color: #59595920;
	border-radius: 20%;
	margin: 20px;
	padding: -5px 0px 5px 5px;
}

.book-image:hover {
	box-shadow: 3px 3px 5px 6px #ccc;
}

.card-cascade-narrower {
	img {
		transform: scale(0.92) translateY(-2rem) translateX(-1em);
		margin-bottom: -1rem;
	}
}
// SOURCE for card-cascase-narrow https://codepen.io/Devcrud/pen/YzXdBLK

.detail {
	display: grid;
	justify-content: center;
	margin: 0 20%;
}

@import '~bootstrap/scss/bootstrap';
